body {
    background-color: #E6E6E6;
}

.header {
    position: relative;

}
.logo {
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    width: 105px;
    height: 105px;
}

.bordermio {
    border-width: 10px;
    border-color:  #E6E6E6;
    border-style: solid;
    border-radius: 10%;
}

.r-circle{
    width: 105px;
    height: 105px;
    background-color: #E6563B;
    border-radius: 50%;
    display:flex;
    border: solid 4px white;
}


